.schedule {
  height: 385px;
}

.schedule-table {
  width: 80%;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.schedule-table th {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 10px;
}

.pagination button {
  margin: 0 5px;
}

.station-table-fix {
  font-family: Arial, sans-serif;
  max-width: 76%;
  margin: 20px auto;
  padding: 20px;
  border-collapse: collapse;
}

.station-table-fix th,
.station-table-fix td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.station-table-fix th {
  background-color: #ff5722;
  color: white;
}

.pagination-fix {
  max-width: 76%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
