.ticket-content {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.form-ticket {
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
}

.form-ticket label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.form-ticket input {
    padding: 12px;
    font-size: 16px;
    width: calc(100% - 24px);
    border: none;
    border-bottom: 2px solid #ddd;
    background-color: transparent;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

/* Tăng khoảng cách giữa Tìm thông tin vé và Nhập số điện thoại */
.form-ticket input:nth-of-type(2) {
    margin-top: 30px;
}

.form-ticket input:focus {
    outline: none;
    border-bottom: 2px solid #ff5722;
}

.button-ticket-2 {
    display: block; /* Đảm bảo nút là phần tử block */
    width: 300px; /* Đặt chiều rộng cụ thể cho nút */
    margin: 20px auto; /* Căn giữa nút */
    border: none;
    background-color: #ff5722;
    border-radius: 4px;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-ticket:hover {
    background-color: #e64a19;
}

@media (max-width: 768px) {
    .form-ticket input {
        width: 100%;
    }
}

.ticket-box {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    align-content: center;
}

.ticket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f5f5f5;
    padding: 0 20px;
  }

